Jinja2==2.6
amqp==1.0.9
anyjson==0.3.3
asyncmongo==1.2.1
billiard==2.7.3.22
celery==3.0.16
configobj==4.7.2
flower==0.4.2
kombu==2.5.7
nose==1.2.1
pep8==1.4
pika==0.9.8
pymongo==2.4.2
python-dateutil==1.5
pytz==2012j
pyzmq==13.0.0
riak==1.5.2
tornado==3.0.1
