asyncmongo==1.2.1
nose==1.2.1
pep8==1.4
pika==0.9.8
pymongo==2.4.1
pyzmq==2.2.0.1
tornado==2.4.1
Jinja2==2.6
configobj==4.7.2
amqp==1.0.6
billiard==2.7.3.19
celery==3.0.13
kombu==2.5.4
librabbitmq==1.0.1
pytz==2012j